@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<header class="header"></header>
<div class="container">
    <div class="search flex hidden">
        <div class="search-content flex">
        </div>
        <div class="clear">Clear</div>
    </div>
    <div class="jobs">
    </div>
    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
        Coded by <a href="#">Temitope Olawole</a>.
    </div>
</div>


